.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%; 
  padding: 20px; 
  transition: all 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); 
  transform: scale(1.1); 
}

.carousel-indicators [data-bs-target] {
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    background-color: #ffffff; 
    opacity: 0.5; 
    margin: 0 8px; 
  }
  
  .carousel-indicators .active {
    background-color: #007bff; 
    opacity: 1; 
    transform: scale(1.2); 
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.6); 
    padding: 1rem;
    border-radius: 15px;
    bottom: 10%; 
  }
  
  .carousel-caption h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  } */
  
  .carousel-caption p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
  }

  .carousel {
    border-radius: 15px; 
    overflow: hidden; 
  }

  .carousel_noticias {
    border-radius: 3px; 
    overflow: hidden; 
  }
